<html>
<head>
  <meta charset="UTF-8">
  <title>LipMe | Lipsticks | give me lipsticks | Love lipsticks</title>
  <meta name="author" content="Mohamed Hayibor" />
	<meta name="description" content="Making finding the right lipstick easy | based on your colors, moods, feelings.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" media="screen" charset="utf-8">

  <!-- Testing out peerjs -->
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>

</head>
<body>
  <!-- end of header -->
